In [1]:
# load packages
import pandas as pd
import numpy as np
import folium
import altair as alt
from folium import plugins

In [2]:
## load initial raw data

# read in zillow raw data
raw_df = pd.read_csv("../data/zillow raw data.csv")
# remove unwanted column
raw_df = raw_df.drop(['RegionID', 'SizeRank', 'RegionType', 'StateName', 'Metro'], axis=1)
# rename column
raw_df = raw_df.rename(columns={'RegionName':'Zipcode', 'CountyName':'County'})

# read in US zipcode data
uszips_df = pd.read_csv("../data/uszips.csv")
# only keep necessary columns(zipcodes, lat, lng)
zip_lat_lng = uszips_df.iloc[:,:3]
# rename zip to zipcode
zip_lat_lng = zip_lat_lng.rename(columns={'zip':'Zipcode'})

In [3]:
## merge raw data with geo data

# merge latitude and longitude according to zipcode
merge_df = pd.merge(raw_df,zip_lat_lng,on='Zipcode',how='left')

# check if 'Zipcode' has any duplicates
is_unique = not merge_df['Zipcode'].duplicated().any()
if is_unique:
    print("The Zipcode column has unique values.")
else:
    print("The Zipcode column has duplicate values.")

The Zipcode column has unique values.

In [4]:
## reshape data with melting

#convert date and value data from wide to tall
merge_df = merge_df.melt(id_vars=['Zipcode','lat','lng','State','City','County'],var_name='date',value_name='value')

merge_df

,Zipcode,lat,lng,State,City,County,date,value
0,77494,29.74566,-95.82302,TX,Katy,Fort Bend County,BaseDate,2023-12-31
1,8701,40.07635,-74.20311,NJ,Lakewood,Ocean County,BaseDate,2023-12-31
2,77449,29.83674,-95.73547,TX,Katy,Harris County,BaseDate,2023-12-31
3,11368,40.74962,-73.85264,NY,New York,Queens County,BaseDate,2023-12-31
4,77084,29.82698,-95.66120,TX,Houston,Harris County,BaseDate,2023-12-31
...,...,...,...,...,...,...,...,...
80663,55087,44.23894,-93.40614,MN,Warsaw,Rice County,2024-12-31,1.8
80664,62093,39.06858,-89.84573,IL,NaN,Macoupin County,2024-12-31,3.7
80665,77661,29.78021,-94.36861,TX,NaN,Chambers County,2024-12-31,-0.6
80666,79078,35.69856,-101.55000,TX,NaN,Hutchinson County,2024-12-31,-3.1
80667,95419,38.42336,-122.95820,CA,Camp Meeker,Sonoma County,2024-12-31,0.0